.app {
  text-align: center;
}

.destinationList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.destination {
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

.vehicleList {
    padding-top: 20px;
    /* visibility: hidden; */
}

button {
  padding: 5px;
  margin: 15px;
  width: 10%;
}

.vehicleList {
  text-align: left;
}